
{% extends 'base.html' %}

{% block content %}
    

<section class="book-header">
    <h2 class="book-header__title">All Books</h2>
    <a href="/books/new" class="button button--primary book-header__button">Add Book</a>
</section>
    <ul class="book__list">
        {% for book in book_list %}
            
            <li class="book__item">
                <h3 class="book__title">Name</h3>
                <a href="/books/{{loop.index0}}" class="book__link">{{ book.title }}</a>
                <!-- <p>{{ book.title }}</p> -->

                <h3 class="book__title">Author</h3>
                <p>{{ book.author }}</p>

                <h3 class="book__title">Genre</h3>
                <p>{{ book.genre }}</p>

                <form action="/books/delete/{{ book.title }}" method="POST">
                    <input type="submit" value="Remove Book" class="button book__button">
                  </form>

            </li>

        {% endfor %}
    </ul>

{% endblock %}